{{#if siteSettings.clothing_deals_enabled}}
<label>
  {{input type="checkbox" name="receive_good_deals" checked=user.custom_fields.receive_good_deals}}
  {{i18n "clothing_deals.receive_good_deals"}}
</label>

<label class="control-label">{{i18n "clothing_deals.size_outerwear"}}</label>
{{multi-select
  allowAny=false
  content=sizeOuterwearOptions
  options=(hash
    castInteger=true
    maximum=6
  )
  value=user.custom_fields.size_outerwear
}}

<label class="control-label">{{i18n "clothing_deals.size_top"}}</label>
{{multi-select
  allowAny=false
  content=sizeTopOptions
  options=(hash
    castInteger=true
    maximum=6
  )
  value=user.custom_fields.size_top
}}

<label class="control-label">{{i18n "clothing_deals.size_knitwear"}}</label>
{{multi-select
  allowAny=false
  content=sizeKnitwearOptions
  options=(hash
    castInteger=true
    maximum=6
  )
  value=user.custom_fields.size_knitwear
}}

<label class="control-label">{{i18n "clothing_deals.size_t_shirt"}}</label>
{{multi-select
  allowAny=false
  content=sizeTShirtOptions
  options=(hash
    castInteger=true
    maximum=6
  )
  value=user.custom_fields.size_t_shirt
}}

<label class="control-label">{{i18n "clothing_deals.size_sweatshirt"}}</label>
{{multi-select
  allowAny=false
  content=sizeSweatshirtOptions
  options=(hash
    castInteger=true
    maximum=6
  )
  value=user.custom_fields.size_sweatshirt
}}

<label class="control-label">{{i18n "clothing_deals.size_shirt"}}</label>
{{multi-select
  allowAny=false
  options=(hash
    castInteger=true
    maximum=6
  )
  content=sizeShirtOptions
  value=user.custom_fields.size_shirt
}}

<label class="control-label">{{i18n "clothing_deals.size_bottom"}}</label>
{{multi-select
  allowAny=false
  options=(hash
    castInteger=true
    maximum=6
  )
  content=sizeTopOptions
  value=user.custom_fields.size_bottom
}}

<label class="control-label">{{i18n "clothing_deals.size_jeans"}}</label>
{{multi-select
  allowAny=false
  options=(hash
    castInteger=true
    maximum=6
  )
  content=sizeJeansOptions
  value=user.custom_fields.size_jeans
}}

<label class="control-label">{{i18n "clothing_deals.size_shoes"}}</label>
{{multi-select
  allowAny=false
  options=(hash
    castInteger=true
    maximum=6
  )
  content=sizeShoesOptions
  value=user.custom_fields.size_shoes
}}

<label class="control-label">{{i18n "clothing_deals.size_gloves"}}</label>
{{multi-select
  allowAny=false
  options=(hash
    castInteger=true
    maximum=6
  )
  content=sizeGlovesOptions
  value=user.custom_fields.size_gloves
}}

<label class="control-label">{{i18n "clothing_deals.size_hat"}}</label>
{{multi-select
  allowAny=false
  options=(hash
    castInteger=true
    maximum=6
  )
  content=sizeHatOptions
  value=user.custom_fields.size_hat
}}
{{/if}}
