{{#if siteSettings.clothing_deals_enabled}}
<label class="control-label">{{i18n "clothing_deals.size_top"}}</label>
{{combo-box
    valueProperty="value"
    content=sizeTopOptions
    value=user.custom_fields.size_top
    id="user-profile-custom-field-size-top"
  }}

<label class="control-label">{{i18n "clothing_deals.size_bottom"}}</label>
{{combo-box
    valueProperty="value"
    content=sizeTopOptions
    value=user.custom_fields.size_bottom
    id="user-profile-custom-field-size-bottom"
  }}

<label class="control-label">{{i18n "clothing_deals.size_shoes"}}</label>
{{combo-box
    valueProperty="value"
    content=sizeShoesOptions
    value=user.custom_fields.size_shoes
    id="user-profile-custom-field-size-shoes"
  }}

<label class="control-label">{{i18n "clothing_deals.size_gloves"}}</label>
{{combo-box
    valueProperty="value"
    content=sizeGlovesOptions
    value=user.custom_fields.size_gloves
    id="user-profile-custom-field-size-gloves"
  }}

<label class="control-label">{{i18n "clothing_deals.size_hat"}}</label>
{{combo-box
    valueProperty="value"
    content=sizeHatOptions
    value=user.custom_fields.size_hat
    id="user-profile-custom-field-size-hat"
  }}
{{/if}}
